:root{
    --fundo: #005279;
    --cartao-frente: #9faeff;
    --cartao-verso: #8edb70;
    --destaque: #000000;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}
header{
    background-color: var(--preto);
    color: var(--branco);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}
header a{
    color: var(--branco);
    text-decoration: none;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    width: 100%;
    text-align: center;
}
#container{
    display: grid;
    gap: 3rem;
    padding: 20px;
}