:root{
    --fundo: #8B0000;
    --cartao-frente: #800000;
    --cartao-verso: #DB7093;
    --destaque: #A52A2A;
    --preto: #000000;
    --branco: #ffffff;
}

bory{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    width: 100%;
    text-align: center;
}